<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.ReadBookPdDao">

    <resultMap id="ReadBookESMap" type="com.example.demo.es.entity.ReadBookESDTO">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="name" property="name" />
        <result column="en_name" property="enName" />
        <result column="author" property="author" />
        <result column="imgurl" property="imgurl" />
        <result column="discription" property="discription" />
        <result column="create_time" property="createTime" />
        <result column="creator" property="creator" />
        <result column="update_time" property="updateTime" />
        <result column="status" property="status" />
        <result column="comment_num" property="commentNum" />
        <result column="price" property="price" />
        <result column="category" property="category" />
    </resultMap>

    <sql id="Base_Column_List">
        id,name,en_name,author,imgurl,discription,UNIX_TIMESTAMP(create_time)*1000 as create_time,creator,
        UNIX_TIMESTAMP(update_time)*1000 as update_time,status,comment_num,category,price
    </sql>

    <select id="selectByPage" resultType="com.example.demo.entity.ReadBookPd">
         select *
         from read_book_pd
         where id > #{cacheId}
         order by id
    </select>
    <select id="selectList2" resultMap="ReadBookESMap" >
         select
         <include refid="Base_Column_List" />
         from read_book_pd
         where id > #{cacheId}
         order by id
         limit 10
    </select>
</mapper>
