<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.db1.MqOperateRecordDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.entity.db1.po.MqOperateRecordPO">
        <id column="id" property="id" />
        <result column="appName" property="appName" />
        <result column="exchangeName" property="exchangeName" />
        <result column="routingKey" property="routingKey" />
        <result column="data" property="data" />
        <result column="consumeQueues" property="consumeQueues" />
        <result column="errorMsg" property="errorMsg" />
        <result column="state" property="state" />
        <result column="startDealTime" property="startDealTime" />
        <result column="ctime" property="ctime" />
        <result column="updTime" property="updTime" />
        <result column="remark" property="remark" />
        <result column="retryCnt" property="retryCnt" />
        <result column="version" property="version" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, appName, exchangeName, routingKey, data, consumeQueues, errorMsg, state, startDealTime, ctime, updTime, remark, retryCnt, version
    </sql>

</mapper>
